################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HardTypeMapper/UnitTests/obj
/HardTypeMapper/HardTypeMapper/obj
/HardTypeMapper/.vs/HardTypeMapper/v16
