################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HardTypeMapper/UnitTests/obj
/HardTypeMapper/HardTypeMapper/obj
/HardTypeMapper/.vs/HardTypeMapper/v16
/HardTypeMapper/Interfaces/obj
/HardTypeMapper/HardTypeMapper/bin/Debug/net5.0
/HardTypeMapper/Interfaces/bin/Debug/net5.0
/HardTypeMapper/UnitTests/bin/Debug/net5.0
/HardTypeMapper/Exceptions/bin/Debug/net5.0
/HardTypeMapper/Exceptions/obj
